{% extends 'base.html' %}

{% block head %}
<title>Download file</title>
<style>
    body {
        margin: 0;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">

    <h1 id="header">Rebiber - Online Bibtext Formatter</h1>
    <p>File processed successfully</p>
    <a href="/return-files/{{value}}" target="blank"><button id="download-btn"
            class="btn btn-primary">Download</button></a>
    <a href="/" target="blank"><button id="back-btn" class="btn btn-primary">Back</button></a>

</div>

{% endblock %}