{% extends 'base.html' %}

{% block head %}
<title>Upload file</title>
<style>
    body {
        margin: 0;
    }

    #upload-btn {
        margin: 20px;
    }

    #header, p {
        margin: 20px;
    }

    #submit-btn {
        margin-left: 20px;
    }

</style>
{% endblock %}

{% block body %}

<div>
    <h1 id="header">Rebiber - Online Bibtext Formatter</h1>
    <p>Upload new File</p>
    <form action="/" method=post enctype=multipart/form-data>
        <div class="form-group">
            <input class="form-control-file" id="upload-btn" type="file" name="bib">
            <input class="btn btn-primary" id="submit-btn" type="submit" value=Upload>
        </div>
    </form>
</div>

{% endblock %}