{% extends 'base.html' %}

{% block head %}
<title>Upload file</title>
<style>
    body {
        margin: 0;
    }

    input {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    * {
        transition: all .2s ease;
    }

    .extra-info {
        display: none;
        line-height: 30px;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 50px;
    }

    .info:hover .extra-info {
        display: block;
    }

    .info {
        font-size: 20px;
        padding-left: 5px;
        width: 20px;
        border-radius: 15px;
    }

    .info:hover {
        background-color: #e1ebf5;
        padding: 0 0 0 5px;
        width: auto;
        height: auto;
        text-align: left !important;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <h1 id="header">Rebiber - Online Bibtext Formatter</h1>

    <h3>Upload a bib file</h3>

    {% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

    <form action="/" method=post enctype=multipart/form-data>
        <div class="form-group">
            <input class="form-control-file" id="upload-btn" type="file" name="bib">
            
            <h3>Personalized Requirements (optional)</h3>

            <hr style="width:100%;text-align:left;margin-left:0">

            <div class="form-check form-check-inline">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label" for="inlineCheckbox1" id="remove">Remove</label>
                    </div>
                    <div class="col-md-9">
                        <div class="info">
                          <i class="icon-info-sign"></i>
                    
                          <span class="extra-info">
                            By checking the following boxes, corresponding columns will be removed from the output bib file.
                          </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label" for="pages">pages</label>
                        <input class="form-check-input" type="checkbox" id="pages" value="pages" name="pages">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="editor">editor</label>
                        <input class="form-check-input" type="checkbox" id="editor" value="editor" name="editor">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="volume">volume</label>
                        <input class="form-check-input" type="checkbox" id="volume" value="volume" value="volume">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="month">month</label>
                        <input class="form-check-input" type="checkbox" id="month" value="month" value="month">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label" for="url">url</label>
                        <input class="form-check-input" type="checkbox" id="url" value="url" name="url">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="biburl">biburl</label>
                        <input class="form-check-input" type="checkbox" id="biburl" value="biburl" name="biburl">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="address">address</label>
                        <input class="form-check-input" type="checkbox" id="address" value="address" name="address">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="publisher">publisher</label>
                        <input class="form-check-input" type="checkbox" id="publisher" value="publisher" name="publisher">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label" for="bibsource">bibsource</label>
                        <input class="form-check-input" type="checkbox" id="bibsource" value="bibsource" name="bibsource">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="timestamp">timestamp</label>
                        <input class="form-check-input" type="checkbox" id="timestamp" value="timestamp" name="timestamp">
                    </div>
                    <div class="col-md-3">
                        <label class="form-check-label" for="doi">doi</label>
                        <input class="form-check-input" type="checkbox" id="doi" value="doi" name="doi">
                    </div>
                </div>

                <hr style="width:100%;text-align:left;margin-left:0">

                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label" for="duplicate">Keep duplicates</label>
                        <input class="form-check-input" type="checkbox" id="duplicate" value="duplicate" name="duplicate">
                    </div>
                    <div class="col-md-9">
                        <div class="info">
                          <i class="icon-info-sign"></i>
                    
                          <span class="extra-info">
                            By checking this box, duplicate bib entries sharing the same key will be kept in the output bib file.
                          </span>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        <input class="btn btn-primary" id="submit-btn" type="submit" value=Upload>

        
        <div class="footer">
            <hr style="width:100%;text-align:left;margin-left:0">
            <h5>Rebiber Version</h5>
            <p>{{ version }}</p>
            <h5>Contact</h5>
            <p>Please email <a>yuchen.lin@usc.edu</a> or create Github issues <a href="https://github.com/yuchenlin/rebiber/tree/webdemo">here</a> if you have any questions or suggestions. You can also visit our <a href="https://github.com/yuchenlin/rebiber">project homepage</a> for more information.</p>
        </div>
    </form>
</div>

{% endblock %}